<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <h2>Create Account</h2>
      <% include ../users/form %>

      </div>
    </div>
  </body>
</html>
