<!DOCTYPE html>
<html lang="en">
<head>
  <% include head %>
</head>

<div class="footer">
  <div>
    smokn
  </div>
<<<<<<< HEAD
=======

>>>>>>> 568059b264ea656e8c06e7c17b31cbbfe652d51a
</div>

</html>
