<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/js" href="../../public/javascripts/nav.js"></script>
</head>

<div class="footer">
  <div>
    Copyright © 2015 SMOKN Inc. All rights reserved.
  </div>
</div>

</html>
