<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/js" href="../../public/javascripts/nav.js"></script>
</head>

<div class="footer">
  <div>
    Copyright © 2015 SMOKN Inc. All rights reserved.
  </div>
  <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Ajacklee0223%3Aplaylist%3A3Kl80UAT4kPAdj3CDN3kqa" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
</div>

</html>
