<meta charset="UTF-8">
<title>smokn</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css">
