<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/js" href="../../public/javascripts/nav.js"></script>
</head>

<!-- Dropdown Structure -->

<ul id="nav">
  <p>
    <a href="/"><a href="/"><img src="http://i.imgur.com/q0aqFeo.png" title="logo" /></a>  </p>

  <li style= "margin: 0; padding: 0;">
    <a href="#">
      <img src="/images/menu.png" class="navimg" style="width: 40px;">
    </a>

    <ul>
  <% if ( user ) { %>
        <li><a href="/">home</a></li>

        <li><a href="/about">about</a></li>

        <li><a href="/users/ + <%= user.id %> + /edit">edit profile</a></li>

 <!--        <li><a href="#">Previous Matches</a></li> -->

        <li><a href="/logout">log out</a></li>

          <% } else { %>

        <li><a href="/">home</a></li>

        <li><a href="/about">about</a></li>

        <li><a href="/auth/new" class="btn btn-info">register</a></li>

        <li><a href="/login">login</a></li>

          <% } %>

    </ul>

  </li>
</ul>

</html>

