<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/js" href="../../public/javascripts/nav.js"></script>
</head>

<!-- Dropdown Structure -->

<ul id="nav">
  <p>
    <a href="/">SMOKN</a>
  </p>

  <li>
      <img class="dropbtn" src="/images/menu.png" alt="">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users/edit">Edit Profile</a></li>

        <li><a href="#">Something Else 1</a></li>
        <li><a href="#">Something Else 2</a></li>
    </ul>
  </li>

</ul>

</html>
