<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/js" href="../../public/javascripts/nav.js"></script>
</head>

<!-- Dropdown Structure -->

<ul id="nav">
  <p>
    <a href="/">SMOKN</a>
  </p>

  <li>

    <a href="#">
      <img src="/images/menu.png" alt="" style="width: 60px;">
    </a>

      <img class="dropbtn" src="/images/menu.png" alt="">

    <ul>
        <li><a href="/">Home</a></li>

        <li><a href="#">About</a></li>

        <li><a href="#">Profile</a></li>

        <li><a href="#">Previous Matches</a></li>

        <li><a href="/users/edit">Edit Profile</a></li>

        <li><a href="#">Log Out</a></li>

        <li><a href="/">Home</a></li>

        <li><a href="/">About</a></li>


    </ul>
  </li>

</ul>

</html>
