<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/js" href="../../public/javascripts/nav.js"></script>
</head>

<!-- Dropdown Structure -->

<ul id="nav">
  <p>
    <a href="/"><a href="http://imgur.com/q0aqFeo"><img src="http://i.imgur.com/q0aqFeo.png" title="source: imgur.com" /></a>  </p>

  <li style= "margin: 0; padding: 0;">
    <a href="#">
      <img src="/images/menu.png" alt="" style="width: 60px;">
    </a>

    <ul>
  <% if ( user ) { %>
        <li><a href="/">Home</a></li>

        <li><a href="/about">About</a></li>

        <li><a href="/users/show">Profile</a></li>

 <!--        <li><a href="#">Previous Matches</a></li> -->

        <li><a href="/logout">Log Out</a></li>

          <% } else { %>

        <li><a href="/">Home</a></li>

        <li><a href="/about">About</a></li>

        <li><a href="/auth/new" class="btn btn-info">Register</a></li>

        <li><a href="/login">Login</a></li>

          <% } %>

    </ul>

  </li>
</ul>

</html>

