<div id="slider">
  <figure>
    <img src="/images/lgimg1.jpg" alt>
    <img src="/images/lgimg2.jpg" alt>
    <img src="/images/lgimg3.jpg" alt>
    <img src="/images/lgimg4.jpg" alt>
    <img src="/images/lgimg5.jpg" alt>
    <img src="/images/lgimg6.jpg" alt>
  </figure>
</div>
