<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>smokn</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/js" href="../../public/javascripts/profile.js"></script>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/skeleton.css" />
    <link rel="stylesheet" type="text/css" href="../../public/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
    <form>

      <div class="row">
        <div class="nine columns">
          <h1>My Profile</h1>
          <label for="userDescription">Tell us about yourself in 140 characters or fewer.</label>
          <textarea class="u-full-width" type="text" id="userDescription"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="nine columns">
          <label for="userBirthday">Birthday</label>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <label for="dd">Day</label>
          <input type="text" id="dd" maxlength=2 />
        </div>
        <div class="three columns">
          <label for="mm">Month</label>
          <input type="text" id="mm" maxlength=2 />
        </div>
        <div class="three columns">
          <label for="year">Year</label>
          <input type="text" id="yyyy" maxlength=4 />
        </div>
      </div>

      <div class="row">
        <div class="nine columns">
          <label for="userGender">I identify as a: </label>
          <select class="u-full-width" id="userGender">
            <option value="woman">Woman</option>
            <option value="man">Man</option>
            <option value="nonBinary">Non-Binary Gender</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="nine columns">
          <label for="matchPreference">I'm looking for a: </label>
          <select class="u-full-width" id="matchPreference">
            <option value="woman">Woman</option>
            <option value="man">Man</option>
            <option value="nonBinary">Non-Binary Gender</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="nine columns">
          <label for="smokingCategory">I smoke: </label>
          <select class="u-full-width" id="iSmoke">
            <option value="cigarette">Cigarettes</option>
            <option value="marijuana">Marijuana</option>
            <option value="vape">Vaporizer</option>
            <option value="clove">Cloves</option>
            <option value="pipe">Pipe</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="three columns">
          <label for="location">Location (zip code)</label>
            <input type="text" id="location">
          </div>
        </div>

      <div class="row">
        <div class="three columns">
          <label for="userPhoto">Photo URL</label>
          <input type="text" id="userPhoto" >
      <input class="button-primary" type="submit" value="Save">
      </form>
      </div>
    </div>
  </body>
</html>
