<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>
    <h3>Landing Page</h3>

    <div id="slider">
      <figure>
        <img src="/images/img1.jpg" alt>
        <img src="/images/img2.jpg" alt>
        <img src="/images/img3.jpg" alt>
        <img src="/images/img4.jpg" alt>
      </figure>
    </div>

    <a class="button button-primary" href="login">Log In</a>

  </body>
</html>
