<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>

    <div id="slider">
      <figure>
        <img src="/images/lgimg1.jpg" alt>
        <img src="/images/lgimg2.jpg" alt>
        <img src="/images/lgimg3.jpg" alt>
        <img src="/images/lgimg4.jpg" alt>
        <img src="/images/lgimg5.jpg" alt>
        <img src="/images/lgimg6.jpg" alt>
      </figure>
    </div>

 </form>
          <% if (user) { %>
            <div class="container registerform">
            <p class="raleway centerugh">You are currently logged in as <strong><%= user.username %></strong>.</p>
            <a class="button landing" href="/users/index">find a match</a>
            <a class="button landing" href="/logout">logout</a>
          </div>
          <% } else { %>
       <div class="login">
          <img src="/images/plain_logo.png" class="intrologo" />
          <a class="button landing" href="login">login</a>
          <a class="button landing" href="/auth/new">register</a>
              </div>

          <% } %>

</div>
  </body>
</html>
