<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>

    <div id="slider">
      <figure>
        <img src="/images/lgimg1.jpg" alt>
        <img src="/images/lgimg2.jpg" alt>
        <img src="/images/lgimg3.jpg" alt>
        <img src="/images/lgimg4.jpg" alt>
        <img src="/images/lgimg5.jpg" alt>
        <img src="/images/lgimg6.jpg" alt>
      </figure>
    </div>

<!--     <form action="/" method="post" class="login_form">
      <p>User Login</p>
      <div class="row">
        <div class="twelve columns">

          <input class="u-full-width" type="email" placeholder="username" id="username">
        </div>
        <br>
        <div class="twelve columns">

          <input class="u-full-width" type="password" placeholder="password" id="password">
        </div>
      </div>
      <input class="button-primary" type="submit" value="Login"> -->
      <div>
        <a class="button button-primary" href="/auth/login">Login</a>
        <a class="button button-primary" href="/users/new">Sign Up</a>
      </div>

    </form>
    <div class="container">
          <% if (user) { %>
            <p>You are currently logged in as<br><strong><%= user.username %></strong></p>
            <a href="/logout" class="btn btn-danger">Logout</a>
          <% } else { %>
            <a href="/login" class="btn btn-primary">paulaLogin</a>
            <a href="/auth/new" class="btn btn-info">Register</a>
          <% } %>
    </div>

  </body>
</html>
