<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>
    <h3>Landing Page</h3>

    <div id="slider">
      <figure>
        <img src="/images/lgimg1.jpg" alt>
        <img src="/images/lgimg2.jpg" alt>
        <img src="/images/lgimg3.jpg" alt>
        <img src="/images/lgimg4.jpg" alt>
        <img src="/images/lgimg5.jpg" alt>
        <img src="/images/lgimg6.jpg" alt>
      </figure>
    </div>

    <form class="login_form">
      <div class="row">
        <div class="twelve columns">

          <input class="u-full-width" type="email" placeholder="username" id="username">
        </div>
        <br>
        <div class="twelve columns">

          <input class="u-full-width" type="email" placeholder="password" id="password">
        </div>
      </div>
      <input class="button-primary" type="submit" value="Submit">
    </form>

  </body>
</html>
