<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>
    <h3>Login</h3>

    <form>
      <div class="row">
        <div class="three columns">
          <label for="user_id">ID</label>
          <input class="u-full-width" type="email" placeholder="User ID" id="user_id">
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <label for="user_pw">PW</label>
          <input class="u-full-width" type="email" placeholder="User Password" id="user_pw">
        </div>
      </div>
      <input class="button-primary" type="submit" value="LogIn">
    </form>
  </body>
</html>
