<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>
  <div class="container">
  </div>


    <div class="other-users" style="text-align: center;" data-current-uid="55d3afefdeaf91e8d6b252da">
      <div class="potential-smokemate" data-uid="55d3afefdeaf91e8d6b252db" style="
          border: 1px solid black;
          display: inline-block;
          padding: 20px;
          margin: 0 auto;
          text-align: center;">

          <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Ryan_Gosling_Cannes_2014.jpg" height="300">
          <br>
          <button style="clear: both;" data-status="pending">
          thumbs down
          </button>

          <button data-status="dislike">
          Like
          </button>
        </div>
    </div>



  <script src="../javascripts/showone.js"></script>
  </body>
</html>
