


.chatform {
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}
.chatform input {
  border: 0;
  padding: 10px;
  width: 40%;
  margin-right: .5%;
  margin-left: 29%
}
.chatform button {
  width: 9%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  margin-top: .5%;
  line-height: 0;
}
#messages {
  list-style-type: none;
  margin: 0; padding: 0;
  margin-top: 30px;
}
#messages li {
  padding: 10px;
  text-align: right;

}
#messages li:nth-child(odd) {
  background: #eee;
  text-align: left;
}

.profilepic {
  width: 5%;
  height: 5%;
}

@import "compass/css3";

@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

.module {
  width: 300px;
  margin: 20px auto;
  margin-top: 10%;
}

.top-bar {
  background: #666;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  margin-bottom: -10%;
  h1 {
    display: inline;
    font-size: 1.1rem;
  }
  .typicons-message {
    display: inline-block;
    padding: 4px 5px 2px 5px;
  }
  .typicons-minus {
    position: relative;
    top: 3px;
  }
  .left {
    float: left;
  }
  .right {
    float: right;
    padding-top: 5px;
  }
  > * {
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: radial-gradient(white, black);
    animation: pulse 1s ease alternate infinite;
  }
}

.discussion {
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  height: 190px;
  overflow: scroll;
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    width: 40px; // stronger than %
    // could set height, but gonna bottom-align instead
    position: relative; // for triangle
    img {
      display: block; // triangle position
      width: 100%;
    }
  }
}

.other {
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0; // weird shadow fix
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
    }
  }
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }
}

.chatbox_container{
  width: 500px;
  margin: 0 auto;
  margin-top: -50px;
  display: inline-block;
  opacity: 0.8;
  /*margin-left: -200px;*/
}

.profilebox img{
    height: 70px;
  }

.smokemate-text{
    font-size: 15px;
  }

.inputbox{
  background-color: #666;
}

.inputbox button{
  margin-top: 5%;
  background-color: white;
}

#m{
  height: 30px;
  margin-left: -7%;
  width: 250px;
}

.chat_input{
  margin-left: 10%;
}

.chat_container{
  margin-top: 5%;
}

.current-user{
  text-align: center;
  margin-top: -5%;
  margin-right: 0;
}

.other-user{
  text-align: center;
  margin-top: -7%;
  margin-right: 0;
  bottom: 0;
  margin-left: 54%;
}

.me{
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  margin-top: 10%;
}

@media (min-width: 1000px){
  .chatbox_container{
   width: 750px;
   height: 80%;
   margin-left: -100%;
   margin-top: -10%;
  }
  .chatarea{
   margin-top: 70px;
  }
  #m{
   width: 90%;
  }
  .discussion{
   height: 350px;
  }

  .profilebox img{
    height: 100px;
  }
  .smokemate-text{
    font-size: 18px;
  }
  .current-user{
    margin-top: 0;
  }
  .potential-smokemate{
    margin-left: 280px;
    margin-top: -20%;
  }
  .me{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-top: -10%;
  }

  .other-user{
    text-align: center;
    margin-top: -8%;
    margin-right: 0;
    bottom: 0;
    margin-left: 54%;
  }

}


@keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}
*/
