
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* nav */

#nav{
  list-style:none;
  font-weight:bold;
  width:100%;
  background-color: black;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  height: 80px;
  margin-bottom: -2.5rem;
}

#nav p{
  font-size: 60px;
  width: 120px;
  height: 80px;
  float: left;
  margin-top: 0px;

}

#nav li{
  float: right;
  width: 120px;
  height: 60px;
  position:relative;
  margin-top: 20px;
  margin-right: 50px;
  font-size: 20px;
}

#nav a{
    display:block;
    padding:5px;
    color:#fff;
    background-color: black;
    text-decoration:none;
    margin-top: 5px;
}

#nav a:hover{
    text-decoration: none;
}

#nav ul{
    float: left;
    list-style:none;
    position:absolute;
    left:-9999px;
    margin: 0px;
    background-color: black;
}
#nav ul li{
    padding-top:1px;
    float:none;
}
#nav ul a{
    white-space:nowrap;
}

#nav li:hover ul{
    left:0;
}
#nav li:hover a{
    text-decoration:none;
}
#nav li:hover ul a{
    text-decoration:none;
}
#nav li:hover ul li a:hover{

}


/* slider */

div#slider {
  width: 1500px;
  max-width: 1500px;
  height: 1000px;
  position: fixed;
  overflow: hidden;
  z-index: -1;
  background-color: black;
  opacity: 0.5;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}

div#slider figure img {
  width: 1500px;
  height: 1000px;
  float: left;
}



@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

div#slider figure {
  position: relative; width: 500%;
  margin: 0; padding: 0; font-size: 0; left: 0; text-align: left;
  animation: 30s slidy infinite;
}

/* form */

.login_form {
  position: absolute;
  top: 35%;
  left: 45%;
}

.columns {
  margin: 0px;
}

@media (max-width: 480px) {
    .login_form {
        top: 45%;
        left: 45%;
        display: block;
        position: absolute;
        background: url(images/background.png) no-repeat center center;
        width: 750px;
        height: 417px;

        margin-top: -208.5px;
        margin-left: -375px;
    }
}

.container{
    margin-top: 20%;
/*    z-index: -1;
*/}

/* profile view */

.profileView {
  border: 1px solid black;
  position: aboslute;
  margin-top: 20%;
}

.dropbtn{
  width: 30%;
  float: right;
}

.chat_container{
  margin: 10% 30%;
}

.footer{
  background: #000;
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  height: 10%;
}

/* Users View */

.other-users{
  text-align: center;
  margin-top: 5%;
}

.potential-smokemate{
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.dislike-button{
}

.like-button{
  color: red;
  float: right;
}

.button-wrapper{

  margin: 5% 10%;
}
