<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <% include ../partials/nav %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="container registerform">

 <p class="raleway">SMOKN is an app that allows you to meet other single people near you, looking for a smoke, or more!</p>
 <br>
 <p class="raleway">Once you sign up you will be directed to your matches page, where you can look for local smokn singles. Swipe right to accept a match. Once your match accepts you, you have the option of sending a direct message to meet up for a smoke break. </p>
</div>

  </body>
</html>
