<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <% include ../partials/nav %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div>
  <p>about smokn></p>
</div>
    <% include ../partials/footer %>

  </body>
</html>
