    <form action="/users" method="post" role="form" class="fixform">
      <input type="hidden">
      <div class="row">
        <div class="three columns">
          <label for="email" class="raleway">User Name</label>
            <input type="text" name="username" id="username">
          </div>
      </div>
      <div class="row">
        <div class="three columns">
          <label for="email" class="raleway">Email</label>
            <input type="text" name="email" id="email">
          </div>
      </div>
      <div class="row">
        <div class="three columns">
          <label for="password" class="raleway">Password</label>
            <input type="password" name="password" id="password">
        </div>
      </div>
      <div class="row">
        <div class="nine columns">
          <label for="userDescription" class="raleway">Tell us about yourself in 140 characters or fewer.</label>
          <textarea class="u-full-width" type="text" name="userDescription" id="userDescription"></textarea>
        </div>
      </div>

      <div class="row">
        <div class="nine columns">
          <label for="birthday" class="raleway">Birthday</label>
          <input type="text" name="birthday" id="birthday" />
        </div>
      </div>

      <div class="row">
        <div class="nine columns">
          <label for="userGender" class="raleway">I identify as a: </label>
          <select class="u-full-width raleway" id="userGender" name="userGender">
            <option value="woman" >Woman</option>
            <option value="man">Man</option>
            <option value="nonBinary">Non-Binary Gender</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="nine columns">
        <label for="matchPreference" class="raleway">I'm looking for: </label>
          <input type="checkbox" name="matchPreference" value="f"><span class="label-body raleway">Women</label>
          <input type="checkbox" name="matchPreference" value="m"><span class="label-body raleway">Men</label>
          <input type="checkbox" name="matchPreference" value="x"><span class="label-body raleway">Non-Binary Gendered</label>
        </div>
      </div>

      <div class="row">
        <div class="nine columns">
        <label for="type" class="raleway">I smoke: </label>
          <input type="checkbox" name="type" value="cigarettes"><span class="label-body raleway">Cigarettes</label>
          <input type="checkbox" name="type" value="marijuana"><span class="label-body raleway">Marijuana</label>
          <input type="checkbox" name="type" value="vaporizer"><span class="label-body raleway">Vaporizer</label>
          <input type="checkbox" name="type" value="cloves"><span class="label-body raleway">Cloves</label>
          <input type="checkbox" name="type" value="pipe"><span class="label-body raleway">Pipes</label>
        </div>
      </div>


      <div class="row">
        <div class="three columns">
          <label for="photo_url" class="raleway">Profile Picture URL</label>
          <input type="text" id="photo_url" name="photo_url" >
        </div>
      </div>
      <input class="button-primary" type="submit" value="Submit">
    </form>
