<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <% include ../partials/nav %>
    <p></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <div id="current-user" data-current-uid=<%= user._id %>
      data-current-pref=<%= user.matchPreference[0] %><%= user.matchPreference[1] %><%= user.matchPreference[2] %>>
      <div class="other-users" style="text-align: center;">
        <div class="potential-smokemate" style="
            border: 1px solid black;
            display: inline-block;
            padding: 20px;
            margin: 0 auto;
            text-align: center;">
            <img id="userPic" src="">
            <br>
            Chat with
            <a id="potential-smokemate-name" href=""></a>
            <br>
            <button style="clear: both;" class="likebutton" data-status="dislike">
            nope
            <br>
            <button style="clear: both;" class="likebutton" data-status="pending">
            smokn
            </button>
          </div>
      </div>
    </div>



    <script src="../javascripts/showone.js"></script>

  </body>
</html>
