<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container">
      <div class="row">
        <div class="six columns">
        </div>
      </div>
    </div>
  </body>
</html>
