

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <p><%= title %></p>
      <div class="other-users" data-current-uid="91oeijf934fjp39ifjef">
        <div class="potential-smokemate" data-uid="9u449u5495u2495u43">
          <div>
            <img src=<%= user.photo_url %>>
          </div>
          <div class="smokemate-text">
            <div class="smokemate-text-left">
              <%= user.username %>
            </div>
            <div class="smokemate-text-right">
              <%= new Date().getFullYear() - new Date (user.birthday).getFullYear() %> Years Old
            </div>
          </div>
        </div>

        </div>
      </div>

  </body>
</html>

